@import "modules/color";
@import "modules/general";
@import "modules/grid";
@import "modules/typo";
@import "modules/spacer";
@import "modules/image";
@import "modules/button";
@import "modules/shadow";
@import "modules/border";
@import "modules/color";

// // header
// header {
    
//     position: fixed;
//     width: 350px;
//     height: 150vh;
//     background-color: antiquewhite;

//     .navbar {
//         a {
//             color: white;
//             padding: 10px 20px;

//             &:hover {
//                 background: white;
//                 color: black;
//             }
//         }

//         .button {
//             border: 1px solid white;

//             &:hover {
//                 background: white;
//                 color: black;
//             }
//         }
//     }
// }

main {
  margin-left: 280px;
  width: 80%;
}
*{
  font-size: 22%;
}
.float {
    animation: floating 2s linear infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-1.5rem);
    }
}

#burger {
    display: flex;
}

// service
.card {
    padding: 43px 43px 43px 43px;
    background: $halfwhite;
    border-radius: 25px;
    display: flex;

    i {
        text-align: center;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
        border-radius: 50%;
        display: flex;
    }

    &:hover {
        background: white;
        transform: scale(1.1);
    }
}

// contact
.hire {
    padding: 1rem 2rem;
    border: 1px solid white;
    transition: .5s;

    &:hover {
        background: white;
        color: black;
    }
}

.share {
    a {
        color: white;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        background: $halfwhite;
        border-radius: 50%;
        margin-right: .5rem;

        &:hover {
            transform: scale(1.2);
        }
    }
}

// @media screen and(max-width:1024px) {}

// @media screen and(max-width:768px) {

    // header
    #burger {
        display: block;
    }



$secondary-color: #ffffff;
$font-color: #26030375;
$border-radius: 8px;
// Navbar
header {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 5%;
}

img.tsou {
  width: 100%;
}

header .logo a {
  font-size: 25px;
  color: #4fd929;
  text-decoration: none;
}

header .logo a span {
  color: #fff;
}

header .menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin: 0 15px;
  list-style-type: none;
}

.menu li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}



ul 
{
    list-style: none;
}

li 
{
    display: inline-block;
    float:left;
    padding:10px;
    font-size:18px;
}

a
{
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
}

a:hover
{
    color:#e4e6e7;  
}

#logo
{
    margin:20px 0 20px 20px;
    font-family:sans-serif;
    font-size:30px;
    cursor:pointer;
    color:#e4e6e7;
    float:left;
    height:50px;
    display:block;
}

#logo:hover
{
    text-decoration:none;
    color:#FFF;
}

.links
{
    float:right;
    padding:18px;
}

a .image
{
    display:none;
}

#menu-icon
{
    display:hidden;
    width:32px;
    height:32px;
}

@media (max-width: 767px) 
{
#menu-icon
{
        display:inline-block;
}
.links
{
    padding:20px 10px;
}    
    
.links ul 
{
        
    display:none;
    position:absolute;
    padding:20px;
    background-color: #9c1737;
    top:76px;
    right:10px;
    width:40%;

        
}
    
.links:hover ul
{
    display:block;
        
}
    
.links li    
{
    text-align:center;
    width:100%;
    padding:15px 0;
    margin:0;
}
    
}




.sidebar {
    background-color:rgb(95, 3, 3) ;
    color: $secondary-color;
    width: 280px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000;

    .profile {
        text-align: center;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid $secondary-color;
            margin-bottom: 15px;
        }
    }

    h3 {
        text-transform: uppercase;
        margin: 20px 0 10px;
        font-size: 1rem;
        border-bottom: 2px solid $secondary-color;
        padding-bottom: 5px;
        width: 100%;
        text-align: left;
    }

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        text-align: left;

        li {
            margin: 8px 0;
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            line-height: 1.5;
        }
    }
}

  .contact-info {
    margin-bottom: 2cm;
    h2 {
      color: white;
;
    }

    p {
      margin-bottom: 15px;
      color: white;
      font-size: 15px;
    }
  }

  .contact-form {
    h2 {
      color: white;
    }

    label {
      display: block;
      margin: 10px 0 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 700px;
      margin-bottom: 10px;
      padding: 8px;
      border: 4px solid #ccc;
      border-radius: 4px;
      background: transparent;
    }

    textarea {
      resize: vertical;
      height: 100px;
    }
  }
// }

.terms {
  margin: 10px 0;

  a {
    color:white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  background-color: white;
  color:#260303;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}
@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media screen and (max-width: 1024px) { @content; }
  }
  @else if $breakpoint == s {
    @media screen and (max-width: 768px) { @content; }
  }
  @else if $breakpoint == xs {
    @media screen and (max-width: 414px) { @content; }
  }
}

.spacetop {
  &-5 { margin-top: 5rem; }
  @include respond(s) { margin-top: 3rem; }
}
.navbar {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 889px){
/* Responsive menu */
.mobile-menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.mobile-menu.active::after{
    box-shadow: none;
    transform: rotate(45deg);
}

.mobile-menu::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 30px;
    background-color: #260303;
    box-shadow:  0 10px 0 #260303;
    transform: translateY(-10px);
    transition: .5s;
}

.mobile-menu::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 30px;
    background-color: #260303;
    transform: translateY(10px);
    transition: .5s;
}

.mobile-menu.active::before {
    transform: rotate(-45deg);
}
header .menu.responsive {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    background-color: #222;
    align-items: unset;
    animation: menu 1s ease forwards;
}

header .menu.responsive li {
    margin: 20px;
    width: 100px;
    padding-left: 20px;
}
/* Animation */


@keyframes menu {
  0% {
      transform: translateY(-100vh);
  }
  100% {
      transform: translateY(0);
  }
}
.sidebar {
  transform: translateX(-300px);
}
#about1 {
display: flex;
flex-direction: column;
margin-left: -100px;
.col5 img {
  width: 200px;
}
h1{
  font-size: 3rem!important;
}
}
#services1 {
  display: flex;
  flex-direction: column!important;
  width: 100vw;
  .col5 {
    width: 90%;
  }
}
.contact-info {
  padding: 10px 20px;
}
.contact-form {
  padding: 20px;
  form {
    input {
      padding: 30px 25px;
    }
  }
}

.mobile-menu {
  padding: 10px;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 20px;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar {
  transition: 1s;
  top: 50px ;
  transform: translateX(-300px);
}
main {
  margin-left: 0;
  width: 100%;
}
}


